@using Blog.Entity.DTOs.Articles;
@model List<ArticleDto>

@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Başlık</th>
            <th scope="col">İçerik</th> 
            <th scope="col">Yazar</th>
        </tr>
    </thead>    
    <tbody>
        @foreach (var articles in Model)
        {       
        <tr>
            <td>@articles.Title</td>
            <td>@articles.Content</td>
            <td>@articles.CreatedBy</td>
        </tr>
        }
    </tbody>
</table>
